<table>
   <tr>
     <th>Text ID</th>
     <th>Language</th>
     <th>Text</th>
   </tr>

   <% translations.each do |translation| %>
   <%= render 'translationListRow', translation: translation %>
   <% end %>
</table>
