<table>
  <tr>
    <th>Text ID</th>
    <th>Language</th>
    <th>Text</th>
  </tr>
  <%= render 'translationListRow', translation: @translation %>
</table>
<p>
  <strong>History:</strong>
  <ul>
    <% @translation.translation_histories.all.reverse.each do |h| %>
    <li><%= h.created_at %> | <%= h.text %>
    <% end %>
  </ul>
</p>
