// Place all the styles related to the translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.success { display: none; }
img.fail { display: none; }
.idContainer {}
.languageContainer { text-align: center; }
.translationContainer { min-width: 10em; max-width: 40em; display: block; }
.originalText { font-style: italic; }
.editContainer { min-width: 10em; max-width: 40em; display: block; display: none; }
.editContainer input { width: 100% }
.buttonContainer { vertical-align: bottom; }
input.save { display: none }
input.cancel { display: none }
tr.even { background-color: #EEEEEE }
tr.odd { background-color: #CCCCCC }
